[Unit]
Description=Updates dynamic values in Ironbar

[Service]
Type=simple
Environment="HOME=%h"
ExecStart=%h/.config/ironbar/updater.sh
Restart=on-failure

[Install]
WantedBy=ironbar.service
