# ~/.config/systemd/user/my-script.timer
[Unit]
Description=Trigger Ironbar update service
After=ironbar.service
Requires=ironbar.service



[Timer]
OnUnitActiveSec=10s
Persistent=true

[Install]
RequiredBy=ironbar.service
