* {
	font-size: 20px;
	font-family: 'Inconsolata Nerd Font Mono', monospace;
}

#cpu, #disk, #memory {
	min-width: 75px;

}

#hardware {
	border-radius: 17px;
	color: #15161E;
	background-color: #bb9af7;
}

#workspaces {
    padding: 0 10px;
    margin: 0 10px;
    border-radius: 17px;
    color: #15161E;
    background-color: #282A2E;
}

#cpu {
}

#disk {
}

#memory {
}

#clock {
	margin: 0 10px;
}

#connectivity {
    padding: 0 10px;
    min-width: 300px;
    margin: 0 10px;
    border-radius: 17px;
}

#connectivity * {
    padding: 0 10px;
}

#music {
	padding: 0 10px;
	margin: 0 10px;
}
