@define-color bg rgba(26,27,38, 0.6);
@define-color bg-alt rgba(26,27,38, 0.8);
@define-color text-color #cdd6f4;

@import "styles/audio.css";

* {
    font-size: 20px;
    font-family: 'CaskaydiaMono Nerd Font';
}

@import "themes/lavender.css";

window#waybar {
    background-color: @bg;
    color: @text-color;
    transition-property: background-color;
    transition-duration: .5s;
}

#window {
    margin: 10px;
}

#workspaces .active label {
	font-size: 23px;
	color: @highlight;
}

#cpu, #disk, #memory, #temperature {
    min-width: 85px;
    padding: 2px;
    margin: 2px;
}

#hardware {
    margin: 8px;
    border-radius: 14px;
    background-color: @bg-alt;
    opacity: 0.7;
}

#workspaces {
    margin: 8px;
    border-radius: 14px;
    background-color: @bg-alt;
    opacity: 0.7;
}

#custom-power, #clock {
    margin: 10px;
}

#connectivity {
    min-width: 300px;
    margin: 0 10px;
    border-radius: 17px;
}

#connectivity * {
    padding: 0 10px;
}

#audio {
    padding: 0 10px;
    margin: 0 10px;
}

.calendar-today {
    background-color: @highlight;
}
