/*
 * Tokyonight colorscheme for rofi
 * User: w8ste
 */


// define colors etc.
* {
    bg: #24283b;
    hv: #bb9af7; 
    primary: #bb9af7; 
    ug: #0B2447;
    font: "0xProto Nerd Font 16";
    background-color: rgba(36,40,59,0.5);
    //dark: @bg;
    border: 0px;
    kl: #c0caf5;
    black: #000000;
    transparent: rgba(46,52,64,0.3);

    background:     #24283b;
    background-alt: #24283b;
    foreground:     #c0caf5;
    selected:       #bb9af899;
    active:         #9eCe6a;
    urgent:         #f7768e;
}

// defines different aspects of the window
window {
    width: 1200;
    /*since line wont work with height, i comment it out 
    if you rather control the size via height
    just comment it out */
    //height: 500;

    orientation: horizontal;
    location: center;
    anchor: center;
    transparency: "screenshot";
    border-color: @primary;   
    border: 2px;
    border-radius: 24px;
    spacing: 0;
    children: [ mainbox ];
}

mainbox {
    spacing: 0;
    padding: 12px;
    children: [ inputbar, message, listview ];
}

inputbar {
    color: @kl;
    padding: 8px 16px;
    border: 2px;
    border-color: @primary;
    border-radius: 16px;
    children: [ entry ];
}

message {
    padding: 0;
    margin: 12px 0 0;
    border-radius: 16px;

}
textbox {
    color: @kl;
    padding: 8px 24px;
}

entry {
    placeholder: "Search";
}

entry, case-indicator {
    text-font: inherit;
    text-color: inherit;
}

entry {
    cursor: pointer;
}

prompt {
    margin: 0px 5px 0px 0px;
}

listview {
    layout: vertical;
    margin: 12px 0 0;
    //spacing: 5px;
    padding: 8px;
    lines: 12;
    columns: 1;
    dynamic: true;
}

element {
    padding: 8px 16px;
    spacing: 8px;
    border-radius: 16px;
    vertical-align: 1;
    color: @kl;
    font: inherit;
}

element-text {
    background-color: inherit;
    text-color: inherit;
}

element selected.normal {
    color: @black;
    background-color: @hv;
}

element normal active {
    background-color: @hv;
    color: @black;
}

element-text, element-icon {
    background-color: inherit;
    text-color: inherit;
}

element normal urgent {
    background-color: @primary;
}

element selected active {
    background: @hv;
    foreground: @bg;
}

button {
    padding: 6px;
    color: @primary;
    horizonatal-align: 0.5;

    border: 2px 0px 2px 2px;
    border-radius: 4px 0px 0px 4px;
    border-color: @primary;
}

button selected normal {
    border: 2px 0px 2px 2px;
    border-color: @primary;
}

scrollbar {
    enabled: true;
} 

