[Desktop Entry]
Type=Application
Version=15.0.1
Name=OCCT
GenericName=Performance Testing
Comment=Performance Testing
Exec=/home/andrew/Applications/OCCT
Icon=/home/andrew/Applications/occt.svg
Terminal=false
Categories=Utility;
